<?xml version="1.0"?>
<launch>
	<arg name="map_file" default="$(find multimap_server)/config/example_environment.yaml"/>
	<arg name="maps_path" default=""/>
	<!-- Run the map server -->
	<node name="multimap_server" pkg="multimap_server" type="multimap_server" args="$(arg map_file)">
		<arg name="maps_path" default="$(arg maps_path)"/>
	</node>

</launch>
